 .u-section-1 {
  background-image: none;
  min-height: 783px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.6);
  height: 633px;
  --radius: 50px;
  margin: 1px 0 0;
}

.u-section-1 .u-group-1 {
  width: 879px;
  min-height: 341px;
  height: auto;
  margin: -300px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 60px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 0 0;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 300px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -641px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -583px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2)  + 420px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -615px;
    margin-right: calc(((100% - 540px) / 2)  + 103px);
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -299px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-2 {
    width: 227px;
    height: 227px;
    margin-top: -518px;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 390px;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 30px;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-image-1 {
  height: 330px;
  width: 281px;
  background-image: url("images/kruuk1.png");
  background-position: 50% 50%;
  margin: -15px 36px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 390px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 31px 30px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 390px;
}

.u-section-2 .u-container-layout-3 {
  padding: 25px 30px;
}

.u-section-2 .u-line-2 {
  width: 100px;
  height: 3px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-image-2 {
  height: 330px;
  width: 281px;
  background-image: url("images/kruuk1.png");
  background-position: 50% 50%;
  margin: -15px 36px 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 444px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 31px 30px 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-2 .u-image-2 {
    width: 330px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 247px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px 10px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -25px;
    margin-right: 90px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 385px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 15px 10px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -5px;
    margin-right: auto;
    margin-bottom: -10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-image-1 {
    height: 281px;
    width: 281px;
    margin-top: -20px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-2 .u-image-2 {
    height: 281px;
    width: 281px;
    margin-top: -20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1095px;
}

.u-section-3 .u-image-1 {
  width: 250px;
  height: 250px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 0;
}

.u-section-3 .u-text-1 {
  margin: -57px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 506px;
  margin-top: 162px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 23px 0 446px;
}

.u-section-3 .u-image-2 {
  width: 300px;
  height: 300px;
  --radius: 50px;
  margin: -192px auto 0 47px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: -72px 23px 0 446px;
}

.u-section-3 .u-image-3 {
  width: 120px;
  height: 120px;
  margin: 7px 383px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 160px;
  height: 120px;
  margin: -120px 47px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 27px 23px 0 446px;
}

.u-section-3 .u-image-5 {
  width: 300px;
  height: 300px;
  --radius: 50px;
  margin: -224px auto 0 47px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: -40px 23px 0 446px;
}

.u-section-3 .u-image-6 {
  width: 120px;
  height: 120px;
  margin: 7px 383px 0 auto;
}

.u-section-3 .u-image-7 {
  width: 160px;
  height: 120px;
  margin: -120px 47px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 27px 23px 0 446px;
}

.u-section-3 .u-image-8 {
  width: 300px;
  height: 300px;
  --radius: 50px;
  margin: -192px auto 0 47px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: -72px 23px 0 446px;
}

.u-section-3 .u-image-9 {
  width: 120px;
  height: 120px;
  margin: 7px 383px 0 auto;
}

.u-section-3 .u-image-10 {
  width: 160px;
  height: 120px;
  margin: -120px 47px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 80px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 27px 23px 0 446px;
}

.u-section-3 .u-image-11 {
  width: 300px;
  height: 300px;
  --radius: 50px;
  margin: -224px auto 0 47px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: -40px 23px 0 446px;
}

.u-section-3 .u-image-12 {
  width: 120px;
  height: 120px;
  margin: 7px 383px 0 auto;
}

.u-section-3 .u-image-13 {
  width: 160px;
  height: 120px;
  margin: -120px 47px 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 80px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 27px 23px 0 446px;
}

.u-section-3 .u-image-14 {
  width: 300px;
  height: 300px;
  --radius: 50px;
  margin: -192px auto 0 47px;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  margin: -72px 23px 0 446px;
}

.u-section-3 .u-image-15 {
  width: 120px;
  height: 120px;
  margin: 7px 383px 0 auto;
}

.u-section-3 .u-image-16 {
  width: 160px;
  height: 120px;
  margin: -120px 47px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 80px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 27px 23px 0 446px;
}

.u-section-3 .u-image-17 {
  width: 300px;
  height: 300px;
  --radius: 50px;
  margin: -224px auto 0 47px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  margin: -40px 23px 0 446px;
}

.u-section-3 .u-image-18 {
  width: 120px;
  height: 120px;
  margin: 7px 383px 0 auto;
}

.u-section-3 .u-image-19 {
  width: 160px;
  height: 120px;
  margin: -120px 47px 0 auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 269px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 269px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 269px;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 269px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 269px;
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 269px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 269px;
    margin-right: 0;
  }

  .u-section-3 .u-image-11 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 269px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 269px;
    margin-right: 0;
  }

  .u-section-3 .u-image-14 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 269px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 269px;
    margin-right: 0;
  }

  .u-section-3 .u-image-17 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 149px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 149px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 149px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 149px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 149px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 9px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 9px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 9px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding: 20px 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 304px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 233px;
    height: 233px;
    margin-top: -557px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 369px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 101px;
    height: 101px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-3 .u-image-4 {
    width: 125px;
    height: 110px;
    margin-top: -101px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 20px 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 303px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-5 {
    width: 233px;
    height: 233px;
    margin-top: -447px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 260px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-6 {
    width: 101px;
    height: 101px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-3 .u-image-7 {
    width: 125px;
    height: 110px;
    margin-top: -101px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 20px 0;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 303px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-8 {
    width: 233px;
    height: 233px;
    margin-top: -556px;
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 369px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-9 {
    width: 101px;
    height: 101px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-3 .u-image-10 {
    width: 125px;
    height: 110px;
    margin-top: -101px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 20px 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 303px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-11 {
    width: 233px;
    height: 233px;
    margin-top: -556px;
    margin-left: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 369px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-12 {
    width: 101px;
    height: 101px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-3 .u-image-13 {
    width: 125px;
    height: 110px;
    margin-top: -101px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 20px 0;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 303px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-14 {
    width: 233px;
    height: 233px;
    margin-top: -556px;
    margin-left: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 369px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-15 {
    width: 101px;
    height: 101px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-3 .u-image-16 {
    width: 125px;
    height: 110px;
    margin-top: -101px;
    margin-right: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 20px 0;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 303px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-17 {
    width: 233px;
    height: 233px;
    margin-top: -556px;
    margin-left: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 369px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-18 {
    width: 101px;
    height: 101px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-3 .u-image-19 {
    width: 125px;
    height: 110px;
    margin-top: -101px;
    margin-right: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 3993px;
}

.u-section-4 .u-image-1 {
  width: 250px;
  height: 250px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 33px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 139px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 1481px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-4 .u-image-2 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-2 {
  font-family: "Palanquin Dark";
  margin: 20px 9px 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-3 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-4 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-4 .u-image-5 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-5 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-6 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-7 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-4 .u-image-8 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-8 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-9 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-10 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 21px;
}

.u-section-4 .u-image-11 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-11 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-13 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-12 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-13 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 21px;
}

.u-section-4 .u-image-14 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-14 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-15 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-16 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-15 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-16 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 21px;
}

.u-section-4 .u-image-17 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-17 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-18 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-19 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-18 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-19 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 21px;
}

.u-section-4 .u-image-20 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-20 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-21 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-22 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-21 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-22 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-8 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 21px;
}

.u-section-4 .u-image-23 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-23 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-24 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-25 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-24 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-25 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-9 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 21px;
}

.u-section-4 .u-image-26 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-26 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-27 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-28 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-27 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-28 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-10 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 21px;
}

.u-section-4 .u-image-29 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-29 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-30 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-31 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-30 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-31 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

.u-section-4 .u-list-item-11 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 21px;
}

.u-section-4 .u-image-32 {
  height: 307px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 50px;
  width: 307px;
  margin: 0 0 0 17px;
}

.u-section-4 .u-text-32 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-33 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-4 .u-text-34 {
  font-weight: 400;
  margin: 20px 9px 0;
}

.u-section-4 .u-image-33 {
  width: 119px;
  height: 98px;
  margin: 30px 196px 0 9px;
}

.u-section-4 .u-image-34 {
  width: 119px;
  height: 98px;
  margin: -98px auto 0 175px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 1223px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-7 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-8 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-9 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-11 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-11 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-12 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-13 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-14 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-14 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-15 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-16 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-17 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-17 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-18 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-19 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-18 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-19 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-20 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-20 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-21 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-22 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-21 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-22 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-23 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-23 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-24 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-24 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-25 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-26 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-26 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-27 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-28 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-27 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-28 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-29 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-29 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-30 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-31 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-30 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-31 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-32 {
    height: 265px;
    width: 265px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-32 {
    margin-top: 51px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-33 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-34 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-33 {
    margin-right: 217px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-34 {
    margin-top: -101px;
    margin-bottom: 3px;
    margin-left: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 2135px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-28 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-32 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-7 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-8 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-9 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-11 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-12 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-13 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-14 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-15 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-16 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-17 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-18 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-19 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-20 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-21 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-22 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-23 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-24 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-25 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-26 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-27 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-28 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-29 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-30 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-31 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-32 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-33 {
    margin-right: 316px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-34 {
    margin-top: -98px;
    margin-bottom: 1px;
    margin-left: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-5 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-6 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-7 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-8 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-9 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-10 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-11 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-12 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-13 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-14 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-15 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-16 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-17 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-18 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-19 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-20 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-21 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-22 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-23 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-24 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-25 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-26 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-27 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-28 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-29 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-30 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-31 {
    margin-top: -101px;
    margin-left: 201px;
  }

  .u-section-4 .u-image-32 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-image-33 {
    margin-right: 201px;
    margin-left: 0;
  }

  .u-section-4 .u-image-34 {
    margin-top: -101px;
    margin-left: 201px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 594px;
}

.u-section-5 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 32px auto 0 57px;
}

.u-section-5 .u-image-2 {
  width: 227px;
  height: 227px;
  margin: -149px 343px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 180px;
  height: 136px;
  margin: -181px 92px 0 auto;
}

.u-section-5 .u-text-1 {
  margin: -47px auto 0 16px;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  margin: 6px 353px 0 auto;
  padding: 0 54px;
}

.u-section-5 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-5 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  margin: -42px 80px 60px auto;
  padding: 0 54px;
}

.u-section-5 .u-icon-2 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: 45px;
    margin-right: auto;
    margin-left: 108px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -182px;
    margin-right: 167px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -247px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 220px;
    margin-right: auto;
    margin-left: 118px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -48px;
    margin-right: 161px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 53px;
    margin-left: 98px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -181px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -300px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 248px;
    margin-left: 98px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -42px;
    margin-right: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 23px;
    margin-left: 11px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -163px;
    margin-right: 41px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 275px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -41px;
    margin-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    width: 183px;
    height: 153px;
    margin-top: 86px;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -534px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 256px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 260px;
    margin-right: auto;
  }
}