.u-section-1 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-1 .u-shape-1 {
  width: 848px;
  height: 747px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 210px auto 0 -14px;
}

.u-section-1 .u-image-1 {
  width: 589px;
  height: 589px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/4355a59ae1acf10b4573cb8acc7b67fed544c0a710afdb87f362956bb58c25e5703cf55a9bb6b34079cad68844cd415e590a78b225add2b880de63_1280.jpg");
  margin: -802px auto 0 51px;
}

.u-section-1 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -657px 124px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 593px;
  min-height: 509px;
  background-image: none;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 256px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-1 .u-shape-2 {
    width: 182px;
    height: 182px;
    margin-right: 67px;
  }

  .u-section-1 .u-group-1 {
    width: 617px;
    min-height: 491px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 525px;
    height: 525px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 31px;
  }

  .u-section-1 .u-group-1 {
    width: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-1 .u-shape-1 {
    width: 509px;
    height: 509px;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 440px;
    margin-left: 15px;
  }

  .u-section-1 .u-shape-2 {
    width: 134px;
    height: 134px;
    margin-top: -608px;
  }

  .u-section-1 .u-group-1 {
    width: 419px;
    min-height: 461px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-1 .u-shape-1 {
    height: 325px;
    width: 325px;
  }

  .u-section-1 .u-image-1 {
    width: 276px;
    height: 276px;
    margin-top: -520px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -690px;
  }

  .u-section-1 .u-group-1 {
    min-height: 529px;
    width: 294px;
    margin-top: 527px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 34px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1218px;
}

.u-section-2 .u-shape-1 {
  width: 848px;
  height: 747px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 210px auto 0 -14px;
}

.u-section-2 .u-image-1 {
  width: 589px;
  height: 589px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/e1e4d86df80f7bf0881e49f16e224aab493fbe841adf8b182acd53e2c6e2a8c025154d9dfa2b9776b2a0084b8c82764b39f3a0f8f75f89f997f598_1280.jpg");
  margin: -802px auto 0 50px;
}

.u-section-2 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -657px 124px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 593px;
  min-height: 509px;
  background-image: none;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 256px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-2 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-2 .u-shape-2 {
    width: 182px;
    height: 182px;
    margin-right: 67px;
  }

  .u-section-2 .u-group-1 {
    width: 617px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 525px;
    height: 525px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 31px;
  }

  .u-section-2 .u-group-1 {
    width: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-2 .u-shape-1 {
    width: 509px;
    height: 509px;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    height: 440px;
    margin-left: 15px;
  }

  .u-section-2 .u-shape-2 {
    width: 134px;
    height: 134px;
    margin-top: -608px;
  }

  .u-section-2 .u-group-1 {
    width: 419px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-2 .u-shape-1 {
    height: 325px;
    width: 325px;
  }

  .u-section-2 .u-image-1 {
    width: 276px;
    height: 276px;
    margin-top: -501px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -1202px;
    margin-right: -18px;
  }

  .u-section-2 .u-group-1 {
    width: 294px;
    min-height: 542px;
    margin-top: 1132px;
    margin-right: -18px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 541px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 75px auto 0;
}

.u-section-3 .u-form-1 {
  width: 446px;
  margin: 30px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 431px;
  background-image: url("images/60431b181529f3a49c2f65ef6f55373669a675b7b62069b21f86afeccb33e901af1a08d3627de4dfea57ff3e2f5f6713dbe5c1de259dd845ff14d9_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-3 .u-form-1 {
    width: 345px;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-form-1 {
    width: 295px;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 257px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 692px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/75ea363fd86b2d51699928c427e1b874e1d160f8e1333fd34adb9039d2f867260748fa901653491e00470f976ddf4419c6d9134dcfaeb91040806b_1280.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 572px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-image-1 {
    min-height: 472px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-image-1 {
    min-height: 362px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-image-1 {
    min-height: 543px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-4 .u-image-1 {
    min-height: 342px;
  }
}